alembic==1.3.1
awscli==1.16.294
bcrypt==3.1.7
blinker==1.4
boto3==1.10.30
botocore==1.13.30
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
colorama==0.4.1
cryptography==2.8
DateTime==4.3
docutils==0.15.2
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.5.2
Flask-SQLAlchemy==2.4.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
jwcrypto==0.6.0
Mako==1.1.0
MarkupSafe==1.1.1
oauthlib==3.1.0
psycopg2-binary==2.8.4
pyasn1==0.4.8
pycparser==2.19
pyOpenSSL==19.1.0
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==3.4.2
s3transfer==0.2.1
six==1.13.0
SQLAlchemy==1.3.11
SQLAlchemy-Utils==0.35.0
urllib3==1.25.7
URLObject==2.4.3
Werkzeug==0.16.0
zope.interface==4.7.1
